body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
}

.container {
    margin-left: 200px;
    margin-top: 20px;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flashcard-list {
    width: 50%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding: 1px;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    scrollbar-width: thin;
    scrollbar-color: #007bff transparent;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.flashcard-list::-webkit-scrollbar {
    width: 12px;
}

.flashcard-list::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 6px;
}

.flashcard-list h2 {
    margin: 0 0 10px;
}

.flashcard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flashcard-item:hover {
    background-color: #e9ecef;
}

.flashcard-item:active {
    background-color: #007bff;
    color: white;
}

.flashcard-item.active {
    background-color: #007bff;
    color: white;
}

.flashcard-detail {
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flashcard-column {
    flex: 1;
    padding: 0 5px;
}

.word-column {
    flex-basis: 100px;
    flex-shrink: 0;
}

.other-column {
    flex-basis: 40px;
    flex-shrink: 0;
}

.separator {
    width: 1px;
    background-color: #ccc;
    height: 20px;
    margin: 0 10px;
}

textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}