body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container {
    margin-left: 220px;
    padding: 20px;
    position: relative; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-display {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.answer {
    font-size: 24px;
    margin-bottom: 20px;
    display: none;
}

.show-answer-btn, .rating-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.show-answer-btn:hover, .rating-btn:hover {
    background-color: #444;
}

.delete-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #444;
}

.edit-flashcard-link {
    text-decoration: none;
}

.button-container {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: auto;
    padding: 10px 0;
}

.ratings-container {
    display: none;
    margin-top: 20px;
}