{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/about.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <header class="qa-header">
        <h1>About</h1>
    </header>
    <section class="qa-section">
        <div class="qa-item">
            <h2 class="question">What is Input?</h2>
            <p class="answer">In language learning, input refers to the language
            that a learner is exposed to through reading, listening, or observing.
            This contrasts to output, which is language that learners actively
            produce through speaking or writing. Both are vital to well-rounded 
            language learning routine.
            </p>
        </div>
        <div class="qa-item">
            <h2 class="question">What is Comprehensible Input?</h2>
            <p class="answer">Comprehensible Input is language that is slightly
            above the learner's current level of understanding. It mimics how we
            acquire our first language: through exposure to language we can make
            sense of, even if we don't understand every word or structure.
            </p>
        </div>
        <div class="qa-item">
            <h2 class="question">How Can I Use InputQuest to Find Comprehensible Input?</h2>
            <p class="answer">The <b>Videos</b> page is sorted by Comprehensible Input
            Percentage, which is the percentage of words in a given video that a user knows.
            This measure is shown to the left of each video title and can be filitered on the
            top of the screen. The ideal percentage comes down to personal preference and generally 
            ranges anywhere from 80% to 98%. On the <b>Watch</b> page, you are given a custom
            queue of video clips tailored to a percentage of your choosing.
            </p>
        </div>
        <div class="qa-item">
            <h2 class="question">How Can I Use InputQuest to Learn Vocaulary?</h2>
            <p class="answer">The <b>Learn</b> page shows the most common words in our database
            that the user does not already know. Traditionally, databases of commons words 
            in a given langauge take data from a variety of different input sources like books. 
            By narrowing this down to videos, you end up learning vocabulary that is most applicable 
            to spoken language. By clicking a video on the <b>Videos</b> page, you can also 
            see the most common words in that video that you do not already know. On the 
            <b>Review</b> page, you can review words that you've already been exposed to via flashcards 
            based on the FSRS algorithm. Reviewing vocaulary in this way is vital to long-term memory and 
            is highly recommended.
            </p>
        </div>
    </section>
</body>
</html>
