{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Account</title>
    <link rel="stylesheet" href="{% static 'app/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <div class="container">
        <a href="{% url 'flashcards' %}" class="flashcard-button">Flashcards</a>
    </div>
</body>
</html>
