{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/review.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <div class="container">
        <div class="content">
            <!-- Word Display -->
            <div class="word-display" id="wordDisplay">{{ words.0.word.word_text }}</div>
            <!-- Answer Display -->
            <div class="answer" id="answerDisplay">{{ definitions.0 }}</div>
            <!-- Show Answer Button -->
            <button id="showAnswerBtn" class="show-answer-btn">Show Answer (Space)</button>
            <!-- Rating Buttons -->
            <div class="ratings-container" id="ratingsContainer">
                <button class="rating-btn" data-rating="0">Again (1)</button>
                <button class="rating-btn" data-rating="1">Hard (2)</button>
                <button class="rating-btn" data-rating="2">Good (3)</button>
                <button class="rating-btn" data-rating="3">Easy (4)</button>
            </div>
            <div class="button-container">
                <!-- Edit Flashcard Button -->
                <button id="editFlashcardBtn" class="delete-btn" style="display: none;">Edit</button>
                <!-- Save Changes Button -->
                <button id="saveChangesBtn" class="delete-btn" style="display: none;">Save Changes</button>

                <!-- Delete Flashcard -->
                {% if words_data %}
                    <form method="POST" action="{% url 'change_review' words_data.0.id 'false' %}" id="deleteFlashcardForm">
                        {% csrf_token %}
                        <button id="deleteFlashcardBtn" class="delete-btn">Delete</button>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
    <script>
        const words = JSON.parse('{{ words_data_json|escapejs }}');
        const definitions = JSON.parse('{{ definitions_json|escapejs }}');
    </script>
    <script src="{% static 'app/js/review.js' %}"></script>
</body>
</html>
