<div class="sidebar">
    <h1>InputQuest</h1>
    <div class="language-display">
        Language: {{ user.userpreferences.language|default:"N/A" }}
    </div>
    <a href="{% url 'all_videos' %}">Videos</a>
    {% if user.is_authenticated %}
    <a href="{% url 'watch' %}">Watch</a>
    <a href="{% url 'learn' %}">Learn</a>
    <a href="{% url 'review' %}">Review</a>
    {% endif %}
    <a href="{% url 'about' %}">About</a>
    {% if user.is_authenticated %}
    <a href="{% url 'flashcards' %}">My Vocabulary</a>
        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</div>