{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Queue</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/watch.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock %}
    <div class="container">
        <h2>Select Comprehensible Input Percentage</h2>
        <div class="slider-container">
            <input type="range" min="0" max="100" value="{{ percentage }}" class="slider" id="comprehensibleInput">
            <p class="percentage" id="percentage">{{ percentage }}%</p>
        </div>
        <button class="button" id="goToQueue">Go to Queue</button>
    </div>
    <script>
        var updateQueueUrl = "{% url 'update_queue_ci' %}";
    </script>
    <script src="{% static 'app/js/watch.js' %}"></script>
</body>
</html>
    